head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

  title= PAGE_TITLE

  meta(name="description" content=PAGE_DESCRIPTION)
  meta(name="keywords" content=PAGE_KEYWORDS)
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

  //- Open Graph
  meta(property="og:site_name" content=SITE_NAME)
  meta(property="og:url" content=PAGE_URL)
  meta(property="og:title" content=PAGE_TITLE)
  meta(property="og:description" content=PAGE_DESCRIPTION)
  meta(property="og:image" content=PAGE_IMAGE)
  //- end Open Graph

  //- Twitter
  meta(name="twitter:card" content="summary")
  meta(name="twitter:title" content=PAGE_TITLE)
  meta(name="twitter:description" content=PAGE_DESCRIPTION)
  //- end Twitter

  //- Favicons
  //- You can use gulp-favicons
  link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
  link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
  link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
  link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
  link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
  link(rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  link(rel="manifest" href="/manifest.json")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
  meta(name="theme-color" content="#ffffff")
  //- end Favicons

  //- Styles
  link(href=config.CSS_BUNDLE rel="stylesheet")
  //- end Styles

  include ./analytics/google-analytics.pug

  block headEnd